
    <h1 class="carousel-heading">EXCITING NEWS AND EVENTS</h1>

  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <ol class="carousel-indicators" id="carousel-indicators">
      <!-- Indicators will be inserted here -->
    </ol>
    <div class="carousel-inner" id="carousel-inner">
      <!-- Carousel items will be dynamically inserted here -->
    

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  