<nav class="navbar">
    <a href="../pages/index.html" class="logo">
        <img src="../assets/images/logo-wimbledon.svg" alt="Wimbledon Logo" class="logo-img">
    </a>
    <h2 class="nav-heading" style="margin-top: auto;margin-bottom: auto; margin-right: auto;">WIMBLEDON</h2>
    <button class="menu-toggle" id="menuToggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list" viewBox="0 0 25 25" class="menu">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
          </svg>
    </button>
    <ul class="nav-links" id="navLinks">
        <li><a href="../pages/index.html">Home</a></li>
        <li><a href="../pages/matches.html">Matches</a></li>
        <li><a href="../pages/players.html">Players</a></li>
        <li><a href="../pages/history.html">History</a></li>
    </ul>
</nav>

