
body {
    background-color: #faf3a7;
    font-family: 'Poppins';
}

.dynamic-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr)); /* Adjust the width based on your layout */
    gap: 20px;
    justify-items: center;
    align-items: center;
    height: auto;

}


.player-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 15px 15px 24px #4B2078;
    padding: 20px;
    /* max-width: 500px; */
    width: 300px;
    margin: 40px auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .player-photo {
    width: 200px;
    height: 200px;
    border-radius: 8px;
  }
  
  h2 {
    color: #00853e;
    margin: 10px 0;
  }
  
  .country {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  
  .country img {
    margin-right: 5px;
  }
  
  .grand-slam-results {
    margin: 20px 0;
  }
  
  .grand-slam-results h3 {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #333;
  }
  
  .result {
    display: flex;
    justify-content: space-between;
    color: #333;
    font-size: 0.9rem;
  }
  
  .result span:first-child {
    color: #6a1b9a;
  }
  
  .result span.won {
    color: #00853e;
  }
  
  .read-more-button {
    display: block;
    text-align: center;
    background-color: #00853e;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .read-more-button:hover {
    background-color: #005f2d;
  }
  

  
@media (max-width: 780px) {
    .dynamic-grid {
        grid-template-columns: 1fr; /* Stack cards one after another */
    }
}