<div class="gallery">
    <img src="../assets/images/img1.webp" alt="Historic Wimbledon Moment">
    <img src="../assets/images/img2.webp" alt="Another Historic Moment">
    <img src="../assets/images/img3.avif" alt="Another Historic Moment">
    <img src="../assets/images/img3.jpg" alt="Another Historic Moment">
    <img src="../assets/images/img8.avif" alt="Another Historic Moment">
    <img src="../assets/images/img4.avif" alt="Another Historic Moment">
    <img src="../assets/images/img5.avif" alt="Another Historic Moment">
    <img src="../assets/images/img2.webp" alt="Another Historic Moment">
    <img src="../assets/images/img6.avif" alt="Another Historic Moment">
    <img src="../assets/images/img7.webp" alt="Another Historic Moment">
    <img src="../assets/images/img8.avif" alt="Another Historic Moment">
    <img src="../assets/images/img3.jpg" alt="Another Historic Moment">
</div>
